$color1: #00000e;
$color2: #232949;
$color3: #545791;
$color4: #928be3;
$color5: #ddc5ff;

.color1 {
    color: $color1;
}

.color2 {
    color: $color2;
}

.color3 {
    color: $color3;
}

.color4 {
    color: $color4;
}

.color5 {
    color: $color5;
}
