$background-color: #ddc5ff;
$article-background: #928be3;
$testimonial-background: #928be3;
$title-color:#00000e;
$text-color: #00000e;
$item-background: #4A90E2;
$item-hover-background: #357ABD;

body{background-color: $background-color}

.hiddenElement {
    @media (max-width: 750px) {
        display: none;
    }
}