footer {
    background: linear-gradient(135deg, #4A90E2, #8e44ad); /* Gradiente de azul a púrpura */
    color: #fff; /* Color de texto blanco */
    padding: 20px;
    text-align: center;
    border-top: 5px solid #357ABD;
}

footer h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
}

footer p {
    font-size: 16px;
    margin: 5px 0;
    font-style: italic;
    color: #f0f0f0; /* Color de texto ligeramente gris para contraste */
}