.home__main__section {
    display: flex;
    align-items: left;
    justify-content: space-around;
    background-color: $background-color;
    padding: 10px;
}

.home__main__section__article {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $article-background;
    padding: 50px;
    border-radius: 20px;
    border: 1px solid #333; 

}

.home__testimonials {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $testimonial-background;
    padding: 50px;
    min-width: 50%;
    border-radius: 20px;
    border: 1px solid #333; 
}

.home__title {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 10px;
}

.home__text {
    font-size: 16px;
    color: $text-color;
    line-height: 1.6;
}

.home__list {
    list-style-type: none;
    padding: 0;
}
